body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code{
	margin:0px;
	padding:0px;
	font-size: 9pt;
}
#box{
	margin:0 auto auto auto;
	width:830px;
	clear:both;
}
ul{
	list-style:none;
	clear:both;	/*为防止两个列表的内容连接在一起的情况*/
}
li{
	width:33.1%;
	float:left;
	border-right:1px solid #DBDBDB;
}
dl{
	padding:13px 0 10px;
	overflow:hidden;
}
dt{
	height:75px;
	margin-bottom:10px;
	text-align:center;
}
dt img{
	width:100px;
	height:75px;
	display:inline;
}
dd{
	padding:0 8px;
	line-height:18px;
	text-align:center;
}
#top{
	width: 100%;
 	height:124px;
 	background-image:url(../images/jpgnew_01.jpg);
  	background-repeat:no-repeat;
}
#left{
	float: left; 
	width: 236px; 
	height: 350px; 
	background-image:url(../images/jpgnew_02.jpg); 
	background-repeat:no-repeat;
}
#goodsList{
	overflow: hidden; 
	width: 99%; 
	height: 145px; 
	line-height: 145px; 
	font-size: 14px; 
	border:#CCCCCC solid 1px;
}
#bottom{
	width:830px;
	height:25px;
	background-image:url(../images/jpgnew_06.jpg);
	background-repeat:no-repeat;
	clear:both;
}
#title{
	background-image:url(../images/jpgnew_03.jpg);
	background-repeat:no-repeat;
	width:594px; 
	height:28px;
}
#centerBottom{
	background-image:url(../images/jpgnew_05.jpg); 
	background-repeat:no-repeat;
	width:594px; 
	height:171px;
}