<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
body {
	FONT-SIZE: 9pt;
	margin-left:0px;
	margin-top:0px;	
}
td {
	font-size: 9pt;	line-height:150%;
}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
input {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.tableBorder_r{
	border:1px solid #407D2A ;
	border-left-style:none; 
	border-bottom-style:none;
	border-Top-style:none; 
}
-->