
body{
	margin:2em;
	background-color: #CCCCFF;	
}
td {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}
input {
	font-size:9pt;
	color: #003399;
	font-family: 宋体;
	border: '1px' 'dashed' '#999999';
	background: #EEEEEE;
}
.td1{
	font-size: 12pt;
	font-family: 黑体;
}
.botton1{
	background: #FFFFFF;
	font-weight:bold;
	width: 50px;
}
