<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
td {
	font-size: 9pt;	color: #000000;
}
a:hover {
	font-size: 9pt;	color: #FF6600;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #676767;
	noline:expression(this.onfocus=this.blur);
}
img{
	border:0;
}
.img1{
	border:1;
}
.blue {
	font-size: 9pt;	color: #034683;
}
.bgcolor {
	font-size: 9pt;	color: #1980DB;
}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.txt_grey {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.word_grey{
 color:#CFEAFD;
}
.word_deepgrey{
 color:#999999;
}
.word_orange{
 color:#FF6600;
}
.word_blue{
 color:#123F73;
}
.word_white{
 color:#FFFFFF;
}
.word_gray{
 color:#dddddd;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(../images/bg.gif)
}
.textarea {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.shadow{
font-size=13pt;
filter:DropShadow(Color=#111111,offX=1,offY=0,positive=1);
height:10;color:#FF9900;
}
.shadow_1{
font-size=11pt;
filter:DropShadow(Color=#111111,offX=1,offY=2,positive=1);
height:10;color:#FFC000;
}
.shadow_2{
font-size=9pt;
filter:DropShadow(Color=#DDDDDD,offX=1,offY=1,positive=1);
height:10;color:#FF8700;
}
.shadow_3{
font-size=13px;
filter:DropShadow(Color=#aaaaaa,offX=1,offY=1,positive=1);
height:10;color:#FF9900;
}
.tableBorder {
	border: #aaaaaa 1px solid
}
.hidden_a_line{
	noline:expression(this.onfocus=this.blur);
}
-->