body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
 .xiaohei {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #4C4C4C;
}
.lvcu:link {
	font-size:12px;
	color: #4C4C4C;;
	line-height: 19.8px;
	font-family: Arial, Helvetica, sans-serif;
}
.lvcu:visited {
	font-size:12px;
	color: #4C4C4C;;
	line-height: 19.8px;
}
.lvcu:hover {
	font-size:12px;
	color:#FF0000;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 19.8px;
}
.lvcu:active {
	font-size:12px;
	color: #FF0000;
	text-decoration:none;
	font-family: "ו";
	line-height: 19.8px;
} 