.td {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}
.01input {
	width: 200px;
}
.danxuananniu {
	width: 15px;
}
.hongxing {
	color: #FF0000;
	font-family: "ĞÂËÎÌå";
	font-size: 12px;
}
.indextable {
	font-family: "ËÎÌå";
	font-size: 12px;
}
.indextablelabelwenbenyu {
	height: 90px;
	width: 200px;
}
